table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th, tfoot td  {
    text-align: center;
    background-color: #1f2020;
    color: white;
  }

  .btn {
    background-color: rgb(73, 135, 73);
    color: white;
    padding: 5px 20px 5px 20px;
    margin: 10px;
    border: 1px solid white;
  }